@model TipoCuentaViewModel

@{
	ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipo de Cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
	Ejemplo: Préstamos, tarjetas de crédito, etc.
</h5>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="TipoCuentas" asp-action="Crear">
	<div class="mb-3">
		<label asp-for="Nombre" class="form-label"> Nombre </label>
		<input type="text" id="Nombre" name="Nombre" asp-for="Nombre" class="form-control" />
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}